@model GestionDemploie.emploie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>emploie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heure_Debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heure_Debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heure_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heure_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formateur.NomFormateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formateur.NomFormateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.NomModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.NomModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groupe.NomGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groupe.NomGroupe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmploie }) |
    @Html.ActionLink("Back to List", "Index")
</p>
